<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/logo.png"/>
    <meta name="google-signin-client_id" content="894925493703-a6po34ed9jeft1glddsv1f7jjl27ttnn.apps.googleusercontent.com">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/logo.png">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
    	function onSignIn(googleUser) {
  		  var id_token = googleUser.getAuthResponse().id_token;
  		  window.location.replace("/dashboard/authenticate?idtoken=" + id_token);
		  }
    </script>
  </body>
</html>
